name: Build PR Branch

on:
  pull_request:
    types: [opened, synchronized, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Create .env file
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_NEXT_PUBLIC_BACKEND_URL: "test"
          file_name: .env.local

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build
